{% extends "base.twig" %}

{% block content %}
  <div class="single__container container">
    <h1 class="single__title">
      {{ __('error.404', '__THEME_NAME__') }}
    </h1>
    <div class="single__content">
      {{ __('page.not.found', '__THEME_NAME__') }}
    </div>
  </div>
{% endblock %}
