* {
    line-height: 1.2;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

button {
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    border-color: currentColor;
}

html, body {
    line-height: 1.2;
    font-family: var(--font-face-main), sans-serif;
}

body {
    @apply bg-blue-950 text-amber-50;
    @apply min-h-screen flex flex-col;
}

a {
    color: inherit;
    text-decoration: none;
}

.svg-sprites {
    display: none;
}
