<button class="menu-toggle js-menu-toggle">
  <span class="visually-hidden">{{ __('menu', '__THEME_NAME__') }}</span>
  <svg class="menu-toggle__icon"
       width="20"
       height="16"
       viewBox="0 0 20 16"
       fill="none"
       xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M0 0H20V3H0V0Z" class="line top" />
    <path d="M0 6.5H20V9.5H0V6.5Z" class="line middle" />
    <path d="M0 13H20V16H0V13Z" class="line bottom" />
  </svg>

</button>
