<div class="main-menu js-main-menu">
  <div class="main-menu__content">
    <button class="main-menu__close js-menu-toggle">
      <span>{{ __('close', 'roots') }}</span>
      <svg width="33" height="33">
        <use href="#close" />
      </svg>
    </button>
    <div class="main-menu__primary">
      {% include 'partials/menu.twig' with {
        'menu' : menu
      } %}
    </div>
  </div>
</div>
